#calendar{
    display:flex;
    justify-content: center;
    margin: 0;
}

#calendar-iframe{
    margin: 0px 20px 0 20px;
}

#schedule{
    padding: 181px 0 181px 0;
    background: url("../../assets/wavy-background.svg");
    background-size: cover;
}

#text{
    margin: 0 0 87px 120px;
    font-size: 65px;
}


