#about-wrapper {
  background: url("../../assets/crab.svg") 100% 0 no-repeat,
    url("../../assets/starfish.svg") 0 95% no-repeat;
  padding-bottom: 80px;
}

#about-content {
  margin: 0 150px 0 120px;
  padding-bottom: 80px;
  padding-top: 20px;
}

#about {
  font-family: "Quicksand";
  color: #00bae9;
  font-size: 64px;
  margin-bottom: 0;
}

#about-paragraphs p {
  font-family: "Mulish";
  font-size: 20px;
  line-height: 200%;
}
