.navbar-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 4rem;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  background: linear-gradient(180deg, #ffffff7c, #ffffff00);
}

.navbar-title,
.navbar-links a {
  margin: 0 2rem;
  font-size: 1.5em;
  transform: translateY(-50px);
  opacity: 0;
  animation: fade-in 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s 1 forwards;
}

.navbar-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-title img {
  height: 3rem;
  width: 3rem;
  margin: 1rem;
}
.navbar-links a {
  font-weight: bolder;
}

.underline {
  width: fit-content;
  position: relative;
  color: #fff;
}

.underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
