.navbar-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 4rem;
  justify-content: space-between;
  margin: 0 0 1rem;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background: linear-gradient(180deg, #ffffff7c, #ffffff00);
}

.navbar-title,
.navbar-links a {
  margin: 0 2rem;
  font-weight: bolder;
  font-size: 1.5em;
  transform: translateY(-50px);
  opacity: 0;
  animation: fade-in 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s 1 forwards;
}
