.project-card{
    max-width: 24rem;
    height: 30rem;
    border-radius: 25px;
    background-color: white;
    margin: 1rem;
}

.image{
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 25px 25px 0 0;
}

#whalien{
    color: #4F60FF;
}

#study{
    color: #FF6B98;
}

#location{
    color: #9A68D9;
}

.name{
    font-size: 24px;
    font-weight: 600;
    margin-left: 2rem;
}

.description{
    color: black;
    margin: 0 2rem 0 2rem;
}

.project-card:hover{
    box-shadow: 0px 0px 5px 3px var(--sand-shadow);
}