/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Rock+Salt&display=swap");

/* colors */
:root {
  --brown: #a5712e;
  --sand: #f3ecdc;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--sand);
}

* {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
